<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Mass Parameters -->
    <xacro:property name="mass_base" value="1.36955126412918" />
    <xacro:property name="mass_linear_lr" value="0.506852401520358" />
    <xacro:property name="mass_linear_ud" value="0.0650925389215452" />
    <xacro:property name="mass_hip" value="0.119884538653852" />
    <xacro:property name="mass_knee" value="0.154771861022665" />
    <xacro:property name="mass_ankle" value="0.306270137321633" />
    <xacro:property name="mass_end_effector" value="0.00616673834560594" />
    <xacro:property name="mass_contact_point" value="0.0069894373036484" />

    <!-- Base Inertial Origin -->
    <xacro:property name="base_inertial_x" value="-0.140609630307133" />
    <xacro:property name="base_inertial_y" value="0.140146936008361" />
    <xacro:property name="base_inertial_z" value="0.359999999999999" />

    <!-- Linear Left-Right Inertial Origin -->
    <xacro:property name="linear_lr_inertial_x" value="-0.00489063949800162" />
    <xacro:property name="linear_lr_inertial_y" value="-0.0625565073932747" />
    <xacro:property name="linear_lr_inertial_z" value="0.00080368741228154" />

    <!-- Linear Up-Down Inertial Origin -->
    <xacro:property name="linear_ud_inertial_x" value="-0.00772421363980236" />
    <xacro:property name="linear_ud_inertial_y" value="-0.0245124451507608" />
    <xacro:property name="linear_ud_inertial_z" value="0.000148674326873294" />

    <!-- Hip Inertial Origin -->
    <xacro:property name="hip_inertial_x" value="0.0430110981727738" />
    <xacro:property name="hip_inertial_y" value="-0.00264596170489376" />
    <xacro:property name="hip_inertial_z" value="0.00189483041596425" />

    <!-- Knee Inertial Origin -->
    <xacro:property name="knee_inertial_x" value="0.0397240573219275" />
    <xacro:property name="knee_inertial_y" value="0.0574992173373844" />
    <xacro:property name="knee_inertial_z" value="0.00761488455351636" />

    <!-- Ankle Inertial Origin -->
    <xacro:property name="ankle_inertial_x" value="0.0047003003487126" />
    <xacro:property name="ankle_inertial_y" value="-0.0812352573830351" />
    <xacro:property name="ankle_inertial_z" value="0.000378240165937002" />

    <!-- End Effector Inertial Origin -->
    <xacro:property name="ee_inertial_x" value="4.23690516004882E-09" />
    <xacro:property name="ee_inertial_y" value="0.00469007504313962" />
    <xacro:property name="ee_inertial_z" value="3.16711928072255E-08" />

    <!-- Contact Point Inertial Origin -->
    <xacro:property name="cp_inertial_x" value="-0.000698570366899576" />
    <xacro:property name="cp_inertial_y" value="0.0136784915768892" />
    <xacro:property name="cp_inertial_z" value="2.06407254899066E-08" />

    <!-- Linear Left-Right Joint Parameters -->
    <xacro:property name="linear_lr_x" value="-0.132" />
    <xacro:property name="linear_lr_y" value="0.217" />
    <xacro:property name="linear_lr_z" value="0.0475" />
    <xacro:property name="linear_lr_lower" value="0.055" />
    <xacro:property name="linear_lr_upper" value="0.495" />
    <xacro:property name="linear_lr_effort" value="100.0" />
    <xacro:property name="linear_lr_velocity" value="0.5" />

    <!-- Linear Up-Down Joint Parameters -->
    <xacro:property name="linear_ud_x" value="0.01652" />
    <xacro:property name="linear_ud_y" value="-0.12255" />
    <xacro:property name="linear_ud_z" value="0.00496" />
    <xacro:property name="linear_ud_lower" value="-0.099" />
    <xacro:property name="linear_ud_upper" value="0.011" />
    <xacro:property name="linear_ud_effort" value="100.0" />
    <xacro:property name="linear_ud_velocity" value="0.5" />

    <!-- Hip Joint Parameters -->
    <xacro:property name="hip_joint_x" value="0" />
    <xacro:property name="hip_joint_y" value="-0.04148" />
    <xacro:property name="hip_joint_z" value="0.0005" />

    <!-- Knee Joint Parameters -->
    <xacro:property name="knee_joint_x" value="0.077999" />
    <xacro:property name="knee_joint_y" value="0" />
    <xacro:property name="knee_joint_z" value="0.0015006" />

    <!-- Ankle Joint Parameters -->
    <xacro:property name="ankle_joint_x" value="0.080874" />
    <xacro:property name="ankle_joint_y" value="0.08455" />
    <xacro:property name="ankle_joint_z" value="0" />

    <!-- End Effector Parameters -->
    <xacro:property name="ee_x" value="0" />
    <xacro:property name="ee_y" value="-0.18239" />
    <xacro:property name="ee_z" value="0" />

    <!-- Contact Point Parameters -->
    <xacro:property name="cp_x" value="0" />
    <xacro:property name="cp_y" value="-0.0076114" />
    <xacro:property name="cp_z" value="0" />

    <!-- Joint Limits (Revolute Joints) -->
    <!-- <xacro:property name="joint_lower_limit" value="-1.5708" />
    <xacro:property name="joint_upper_limit" value="1.5708" />
    <xacro:property name="joint_effort" value="50.0" />
    <xacro:property name="joint_velocity" value="2.0" /> -->

    <!-- Hip Joint Specific Limits -->
    <xacro:property name="hip_joint_lower_limit" value="0.0" />
    <xacro:property name="hip_joint_upper_limit" value="3.142" />
    <xacro:property name="hip_joint_effort" value="50.0" />
    <xacro:property name="hip_joint_velocity" value="2.0" />

    <!-- Knee Joint Specific Limits -->
    <xacro:property name="knee_joint_lower_limit" value="-1.2568" />
    <xacro:property name="knee_joint_upper_limit" value="1.2568" />
    <xacro:property name="knee_joint_effort" value="50.0" />
    <xacro:property name="knee_joint_velocity" value="2.0" />

    <!-- Ankle Joint Specific Limits -->
    <xacro:property name="ankle_joint_lower_limit" value="-0.3142" />
    <xacro:property name="ankle_joint_upper_limit" value="2.8278" />
    <xacro:property name="ankle_joint_effort" value="50.0" />
    <xacro:property name="ankle_joint_velocity" value="2.0" />

    <!-- Linear Joint Limits -->
    <!-- <xacro:property name="linear_effort" value="100.0" />
    <xacro:property name="linear_velocity" value="0.5" /> -->

    <!-- Dynamics Parameters -->
    <xacro:property name="linear_lr_damping" value="10.0" />
    <xacro:property name="linear_lr_friction" value="1.0" />
    <xacro:property name="linear_ud_damping" value="10.0" />
    <xacro:property name="linear_ud_friction" value="1.0" />
    <xacro:property name="hip_joint_damping" value="0.5" />
    <xacro:property name="hip_joint_friction" value="0.1" />
    <xacro:property name="knee_joint_damping" value="0.5" />
    <xacro:property name="knee_joint_friction" value="0.1" />
    <xacro:property name="ankle_joint_damping" value="0.5" />
    <xacro:property name="ankle_joint_friction" value="0.1" />

</robot>