<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TestStation_Draft2">
  <link
    name="hip_link">
    <inertial>
      <origin
        xyz="0.045362645767406 -0.0046750292660587 0.00415169396095089"
        rpy="0 0 0" />
      <mass
        value="0.111564131056743" />
      <inertia
        ixx="9.67053406203669E-05"
        ixy="8.34535791237125E-06"
        ixz="2.58857894479391E-06"
        iyy="0.000129232786433991"
        iyz="-1.81406591240432E-07"
        izz="0.000126169643529539" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TestStation_Draft2/meshes/hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TestStation_Draft2/meshes/hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="knee_limk">
    <inertial>
      <origin
        xyz="0.0456464050051834 0.0308623958898155 0.00502941450993857"
        rpy="0 0 0" />
      <mass
        value="0.138255154058202" />
      <inertia
        ixx="6.92624920344093E-05"
        ixy="-6.09598466966638E-05"
        ixz="-4.25043514892408E-12"
        iyy="0.000191185700423175"
        iyz="4.33747860157456E-12"
        izz="0.000221794225508861" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TestStation_Draft2/meshes/knee_limk.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TestStation_Draft2/meshes/knee_limk.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="knee Joint"
    type="revolute">
    <origin
      xyz="0.077999 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="hip_link" />
    <child
      link="knee_limk" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>