controller_manager:
  ros__parameters:
    update_rate: 500 # Hz

    use_sim_time: true

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    effort_controller:
      type: effort_controllers/JointGroupEffortController

effort_controller:
  ros__parameters:
    joints:
      - base_joint
      - hip_joint
      - knee_joint
